name: Smoke test pre-commit integration

on:
  pull_request:
  push:
  schedule:
    - cron: '30 12 * * *'
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
    - uses: actions/checkout@v5
    - run: gh cache delete --all --succeed-on-no-caches
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/setup-python@v6
    # - uses: pre-commit/action@v3.0.1
    #   with:
    #     extra_args: --all-files --verbose
